<app-header></app-header>
<div class="row">
    <div class="col div-cards">
        <app-card [titleCard]="titleA" [explain]="explainA" [linkBtn]="linkBtnA"></app-card>
    </div>

    <div class="col div-cards">
        <app-card [titleCard]="titleB" [explain]="explainB" [linkBtn]="linkBtnB"></app-card>
    </div>

    <div class="col div-cards">
        <app-card [titleCard]="titleC" [explain]="explainC" [linkBtn]="linkBtnC"></app-card>
    </div>
</div>

<div class="row">
    <div class="col div-cards">
        <app-card [titleCard]="titleD" [explain]="explainD" [linkBtn]="linkBtnD"></app-card>
    </div>
</div>

