<div class="modal-style">
  <div class="modal-style-header">
    <h3>Edición de usuario</h3>
    <i class="fa-solid fa-xmark style-icon" (click)="backClicked()"></i>
  </div>

  <hr />

  <div *ngIf="viewA">
    <p>Ingresa el número de documento del usuario que quieres editar</p>

    <div>
      <div class="account-details">
        <div>
          <label>Número de documento:</label>
          &nbsp;
          <input [(ngModel)]="docu" required />
        </div>
        <div>
          <button id="btn-buscar-usuario" (click)="searchUser()">
            Consultar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewB">
    <div class="register-form form-creation">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="sty-form">
        <div class="form-group">
          <label>Nombres</label>
          <input
            type="text"
            formControlName="nombres"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['nombres'].errors }"
          />
          <div
            *ngIf="submitted && f['nombres'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['nombres'].errors['required']">
              Nombre es requerido
            </div>
            <div *ngIf="f['nombres'].errors['minlength']">
              El nombre debe tener al menos 5 caracteres
            </div>
            <div *ngIf="f['nombres'].errors['maxlength']">
              El nombre no debe exceder los 40 caracteres
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Documento</label>
          <input
            type="text"
            formControlName="numero_doc"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['numero_doc'].errors }"
          />
          <div
            *ngIf="submitted && f['numero_doc'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['numero_doc'].errors['required']">
              El documento es requerido
            </div>
            <div *ngIf="f['numero_doc'].errors['minlength']">
              El documento debe tener al menos 5 caracteres
            </div>
            <div *ngIf="f['numero_doc'].errors['maxlength']">
              El documento no debe exceder los 20 caracteres
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Edad (años)</label>
          <input
            type="number"
            formControlName="age"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['age'].errors }"
          />
          <div *ngIf="submitted && f['age'].errors" class="invalid-feedback">
            <div *ngIf="f['age'].errors['required']">La edad es requerida</div>
          </div>
        </div>

        <div class="form-group">
          <label>Altura (pulgadas) </label>
          <input
            type="number"
            formControlName="height"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['height'].errors }"
          />
          <div *ngIf="submitted && f['height'].errors" class="invalid-feedback">
            <div *ngIf="f['height'].errors['required']">
              La altura es requerida
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Teléfono</label>
          <input
            type="text"
            formControlName="telefono"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['telefono'].errors }"
          />
          <div
            *ngIf="submitted && f['telefono'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['telefono'].errors['required']">
              El teléfono es requerido
            </div>
            <div *ngIf="f['telefono'].errors['minlength']">
              El teléfono debe tener al menos 5 caracteres
            </div>
            <div *ngIf="f['telefono'].errors['maxlength']">
              El teléfono no debe exceder los 20 caracteres
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input
            type="text"
            formControlName="pass"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['pass'].errors }"
          />
          <div *ngIf="submitted && f['pass'].errors" class="invalid-feedback">
            <div *ngIf="f['pass'].errors['required']">
              La contraseña es requerida
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Rol</label>
          <select
            type="text"
            formControlName="rol"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['rol'].errors }"
          >
            <option value="">Escoge el rol</option>
            <option value="ADMIN">Administrador</option>
            <option value="CLIENT">Cliente</option>
          </select>
          <div *ngIf="submitted && f['rol'].errors" class="invalid-feedback">
            <div *ngIf="f['rol'].errors['required']">El rol es requerido</div>
          </div>
        </div>

        <div class="form-group">
          <label>Estado de usuario</label>
          <select
            type="text"
            formControlName="estado_usuario"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f['estado_usuario'].errors
            }"
          >
            <option value="">Escoge el estado</option>
            <option value="ACTIVO">Activo</option>
            <option value="INACTIVO">Inactivo</option>
          </select>

          <div
            *ngIf="submitted && f['estado_usuario'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['estado_usuario'].errors['required']">
              El estado es requerido
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary margin-btn">
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
